@media only screen and (min-width: 993px){
    .container {
        width: 90% !important; 
    }
}

.product-img{
    height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
}
  

.custom-number-input{
    display: flex;
    padding-top: 20px;
    
}

.btn-custom-number-input{
    padding: 0px 5px !important;
}

.input-field input[type="number"] {
margin: 0;
text-align: center;
border:none !important;
box-shadow: none !important;
}

.input-field input[type=number]:focus {
    border: none !important;
    box-shadow: none !important;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
    }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  