/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }

 main{
  flex: 1 0 auto;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}


@media only screen and (max-width : 600px) {

  .nav-wrapper{
    padding-left: 1px !important;
  }

  .brand-logo {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width : 330px) {
  
  .brand-logo {
    font-size: 1.5rem !important;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



.btn-navbar-round { 
  border-radius: 100% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  
} 

.nav-wrapper{
  padding-left: 15px;
  padding-right: 15px;
}

.notification-count
{
  text-decoration: #fff solid !important;
  text-align: center;
  font-size: 8px;
  position: relative;
  background-color: #F44336 !important;
  top: -50px;
  right: 0;
  padding: 3px;
  border-radius: 50%;
  z-index: 99999;
}


.input-field .prefix.active {
  color: rgb(29, 29, 29);
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(29, 29, 29) !important;
  box-shadow: 0 1px 0 0 rgb(49, 49, 49) !important;
}
.input-field input[type=number]:focus {
  border-bottom: 1px solid rgb(29, 29, 29) !important;
  box-shadow: 0 1px 0 0 rgb(49, 49, 49) !important;
}

