.product-img{
    height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
  }

.container{
    padding-top: 20px;
}

  @media only screen and (min-width: 993px){
    .container {
        width: 90% !important; 
    }
}

.product-image-slider-outter-container{
    display: flex;
    width: 100%;
    padding: 5px;
    
}

.product-image-slider-scroll-btn{
    width: 70px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product-image-slider-inner-container{
    cursor: grab;
    flex: 1;
    display: flex;
    overflow-x: scroll;
    
    margin: 15px -5px;
    -ms-overflow-style: none;
    
}

.product-image-slider-inner-container::-webkit-scrollbar { display: none; }

div.product-image-slider-wrapper {
    display: flex;
    min-height:50px;
    
}

div.product-image-slider{
    border:solid 2px rgba(0, 0, 0, 0.164);
    width: 80px;
    height: 80px;
    margin: 5px;
    background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    
    
}

div.product-image-slider:hover{
    
    border:2px solid black;
}

.product-name{
    font-weight: 470 !important;
    font-size: 1.25rem;
    word-wrap: break-word;
    margin-bottom: 20px !important;
}

div.highlight-panel{
    width: 100%;
    padding: 10px;
}
.product-price-before , .product-price-after{
    font-size: 2rem;
    font-weight: 450 !important;
    margin: 0px 5px; 
}

.product-price-before{
    text-decoration: line-through;
}

.listLokasiItems{
    width: 100%;
    text-align: left;
    border-bottom: solid 1px rgba(0, 0, 0, 0.233) !important;
}

.listLokasiItems:hover{
    background-color: rgba(0, 0, 0, 0.116) !important;
}